git+https://github.com/hubmapconsortium/fastq-utils.git@v0.2.5#egg=hubmap-fastq-utils
imagecodecs==2024.6.1
jsonschema==4.23.0
pandas==2.2.3
python-frontmatter>=1.1.0
tifffile==2024.8.30
xmlschema==3.4.5
